<!-- <div class="container py-5"></div>
<div class="row">
  <div class="col-4">
  </div>
  <app-dashboard></app-dashboard>

  <div class="col-10 offset-md-2">
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div
                class="bg-gradient-primary shadow-primary border-radius-lg pt-4
                pb-3">
                <h6 class="text-white text-capitalize ps-3">User table</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th
                        class="text-uppercase text-secondary text-xxs
                        font-weight-bolder opacity-7"  >
                        User
                      </th>
                      <th
                        class="text-uppercase text-secondary text-xxs
                        font-weight-bolder opacity-7 ps-2" [(ngModel)]="sort" >
                        Option
                      </th>
                      <th
                        class="text-center text-uppercase text-secondary
                        text-xxs font-weight-bolder opacity-7">
                        Status
                      </th>
                      <th
                        class="text-center text-uppercase text-secondary
                        text-xxs font-weight-bolder opacity-7">
                        Created Date
                      </th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of AllEtudiant">
                      <ng-container *ngIf="user.role == 'USER'">
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div>
                              <img
                                src="{{
                                this.service.host +
                                '/api/authentication/image/' +
                                user.idEtudiant
                                }}"
                                class="avatar avatar-sm me-3 border-radius-lg"
                                alt="user1"
                                />
                            </div>
                            <div
                              class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{ user.username }}</h6>
                              <p class="text-xs text-secondary mb-0">
                                {{ user.email }}
                              </p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0"></p>
                          <p class="text-xs text-secondary mb-0">
                            {{user.option}}
                          </p>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <div *ngIf="user.active">
                            <span class="badge badge-sm bg-gradient-success">Online</span>
                          </div>
                          <div *ngIf="!user.active">
                            <span class="badge badge-sm bg-gradient-danger">Offline</span>
                          </div>
                        </td>
                        <td class="align-middle text-center">
                          <span
                            class="text-secondary text-xs font-weight-bold">{{
                            user.createdate}}</span>
                        </td>
                        <td class="align-middle">
                          <a
                            href="javascript:;"
                            class="text-secondary font-weight-bold text-xs"
                            data-toggle="tooltip"
                            data-original-title="Edit user">
                            Edit
                          </a>
                        </td>
                        <div *ngIf="!user.banned">
                          <td class="align-middle">
                            <a
                              href="javascript:;"
                              class="text-secondary font-weight-bold text-xs"
                              data-toggle="tooltip"
                              data-original-title="Edit user"
                              (click)="BannUser(user)">
                              Bann
                            </a>
                          </td>
                        </div>

                        <div *ngIf="user.banned">
                          <td class="align-middle">
                            <a
                              href="javascript:;"
                              class="text-secondary font-weight-bold text-xs"
                              data-toggle="tooltip"
                              data-original-title="Edit user"
                              (click)="UnBannUser(user)">
                              banned
                            </a>
                          </td>
                        </div>
                      </ng-container>
                    </tr>
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" (click)="prev()" aria-label="Previous">
                          <i class="fa fa-arrow-left" aria-hidden="true"></i>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <div  *ngFor="let in of counter(totalPages) ;let i = index">
                      <li class="page-item"><a class="page-link" (click)="getpage(i)">{{i+1}}</a></li>
                    </div>
                      <li class="page-item">
                        <a class="page-link" (click)="next(totalPages)" aria-label="Next">
                          <i class="fa fa-arrow-right" aria-hidden="true"></i>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div
                class="bg-gradient-primary shadow-primary border-radius-lg pt-4
                pb-3">
                <h6 class="text-white text-capitalize ps-3">Taches table</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table
                  class="table align-items-center justify-content-center mb-0">
                  <thead>
                    <tr>
                      <th
                        class="text-uppercase text-secondary text-xxs
                        font-weight-bolder opacity-7">
                        Project
                      </th>
                      <th
                        class="text-uppercase text-secondary text-xxs
                        font-weight-bolder opacity-7 ps-2">
                        Budget
                      </th>
                      <th
                        class="text-uppercase text-secondary text-xxs
                        font-weight-bolder opacity-7 ps-2">
                        Status
                      </th>
                      <th
                        class="text-uppercase text-secondary text-xxs
                        font-weight-bolder text-center opacity-7 ps-2">
                        Completion
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2">
                          <div>
                            <img
                              src="../assets/img/small-logos/logo-asana.svg"
                              class="avatar avatar-sm rounded-circle me-2"
                              alt="spotify"
                              />
                          </div>
                          <div class="my-auto">
                            <h6 class="mb-0 text-sm">Asana</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold mb-0">$2,500</p>
                      </td>
                      <td>
                        <span class="text-xs font-weight-bold">working</span>
                      </td>
                      <td class="align-middle text-center">
                        <div
                          class="d-flex align-items-center
                          justify-content-center">
                          <span class="me-2 text-xs font-weight-bold">60%</span>
                          <div>
                            <div class="progress">
                              <div
                                class="progress-bar bg-gradient-info"
                                role="progressbar"
                                aria-valuenow="60"
                                aria-valuemin="0"
                                aria-valuemax="100"
                                style="width: 60%"></div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <button class="btn btn-link text-secondary mb-0">
                          <i class="fa fa-ellipsis-v text-xs"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



 -->
 <!--
=========================================================
* Material Dashboard Dark Edition - v2.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard-dark
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->



<!--
=========================================================
* Material Dashboard Dark Edition - v2.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard-dark
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link href="./taches.component.css" rel="stylesheet" />
</head>

<body class="dark-edition">
  <div class="container py-3"></div>
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
      -->
      <div class="logo"><a  class="simple-text logo-normal">
        <div class="container py-5"></div>
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link " routerLink="/dashboard/users">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="dashboard/taches">
              <i class="material-icons">person</i>
              <p>Users</p>
            </a>
          </li>
          <li class="nav-item  ">
            <a class="nav-link" routerLink="./tables.html">
              <i class="material-icons">content_paste</i>
              <p>Table List</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="./typography.html">
              <i class="material-icons">library_books</i>
              <p>Typography</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="./icons.html">
              <i class="material-icons">bubble_chart</i>
              <p>Icons</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="./map.html">
              <i class="material-icons">location_ons</i>
              <p>Maps</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="./notifications.html">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>
          <!-- <li class="nav-item active-pro ">
                <a class="nav-link" href="./upgrade.html">
                    <i class="material-icons">unarchive</i>
                    <p>Upgrade to PRO</p>
                </a>
            </li> -->
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title "></h4>
                  <p class="card-category"> User table</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th >
                          <a class="cursor-pointer"   (click)="setname('')">ID</a> 
                        </th>
                        <th >
                          <a class="cursor-pointer" (click)="setname('email')">Email</a> 
                        </th>
                        <th >
                            Name 
                        </th>
                        <th>
                          Status
                        </th>
                        <th>
                          Option
                        </th>
                        <th>
                          Created Date
                        </th>
                        <th>
                          Edit User
                        </th>
                        <th>
                          Block User
                        </th>
                        <th>
                          Send message
                        </th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let user of AllEtudiant">
                          <td>
                            {{ user.idEtudiant }}
                          </td>
                          <td>
                            {{ user.email }}
                          </td>
                          <td>
                            {{ user.username }}
                          </td>
                          <td>
                            <div [ngStyle]="user.active?{'color':'green'}:{'color':'red'}">
                            <div *ngIf="user.active" >
                              Online
                            </div>
                            <div *ngIf="!user.active">
                              Offline
                            </div>
                          </div>
                          </td>
                          <td>
                            {{user.option}}
                          </td>
                          <td class="text-primary">
                            {{user.createdate}}
                          </td>
                          <td >
                            <a href="javascript:;">
                              Edit
                            </a>
                          </td>
                          <div *ngIf="!user.banned">
                          <td class="align-middle">
                            <a class="cursor-pointer"
                              (click)="BannUser(user)">
                              Bann
                            </a>
                          </td>
                        </div>
                        <div *ngIf="user.banned">
                          <td >
                            <a class="cursor-pointer"
                              (click)="UnBannUser(user)">
                              banned
                            </a>
                          </td>
                        </div>
                          <td >
                            <a class="cursor-pointer" [routerLink]="['/chat/',user.idEtudiant]">
                              Send Message
                            </a>
                          </td>
                        
                        </tr>
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link" (click)="prev()" aria-label="Previous">
                              <i class="fa fa-arrow-left" aria-hidden="true"></i>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <div  *ngFor="let in of counter(totalPages) ;let i = index">
                          <li class="page-item"><a class="page-link" (click)="getpage(i)">{{i+1}}</a></li>
                        </div>
                          <li class="page-item">
                            <a class="page-link" (click)="next(totalPages)" aria-label="Next">
                              <i class="fa fa-arrow-right" aria-hidden="true"></i>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
 
    </div>
  </div>
  
</body>

</html>